<h2>配送先編集</h2>

<table class="table table-bordered">
	<%= form_for @delivery,url:customers_delivery_path(@delivery) do |f| %>
	<tr>
		<th>郵便番号</th>
		<td>
			<%= f.text_field :zip_code%>
		</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>
			<%= f.text_field :address,class: "delivery-index-form" %>
		</td>
	</tr>
	<tr>
		<th>宛名</th>
		<td>
			<%= f.text_field :name %>
		</td>
	</tr>
</table>
<%= f.submit '変更を保存する',class:'btn btn-success' %>
	<% end %>