<style>
	main {
		width: 1100px;
	}
	.clearfix::after {
		content: "";
		clear: both;
		display: block;
	}

	.cart-table1 {
		width: 800px;
		float: left;
	}
	.cart-table2 {
		width: 250px;
		float: left;
		margin-top: 60px;
		margin-left: 10px;
	}

	.botton {
		text-align: center;
		margin-bottom: 20px;
	}

	th {
		background-color: #f5f5f5;
	}
</style>

<main>
	<h4>購入情報確認</h4>
<%= form_with model: @cart_items,url:customers_orders_path,local: true do |f| %>
<% @sum =0 %>
<div class="table clearfix">
	<div class="cart-table1">
		<table class="table table-bordered">
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
			</tr>

			<% @cart_items.each do |cart_item| %>
			<tr>
				<td width="150">
				  <div class="cart-image">
				    <a><%= attachment_image_tag cart_item.product,:product_image,:fill,70,50 %></a>
				  </div>
		　　　	    <a><%= cart_item.product.name %></a>
	    		</td>
				<td width="50">
					   <%= (cart_item.product.price.to_i * 1.1).floor %>
				</td>
				<td width="50px">
					   <%= @cart_items.count %>
				</td>
				<td width="50px">
					   <%= (cart_item.product.price.to_i * 1.1).floor * @cart_items.count.to_i %>
				</td>
　　　		</tr>

                       <% @sum += (cart_item.product.price.to_i * 1.1).floor * @cart_items.count.to_i %>
            <% end %>
		</table>
	</div>
	<div class="cart-table2">
		<table class="table table-bordered">
			<tr>
				<th>送料</th>
				<td>800</td>
			</tr>
			<tr>
				<th>商品合計</th>
				<td><%= @sum %></td>
			</tr>
			<tr>
				<th>請求金額</th>
				<td><%= @sum += 800 %></td>
			</tr>
		</table>
	</div>
</div>
<div class="cash">
	<h3>支払方法</h3>
	  <div class="cashmeans">
		<p><%= session[:order]["pay_status"] %></p>
	  </div>
</div>

<div class="delivery-code">
	<h3>お届け先</h3>
	  <p><%= session[:order]["zip_code"] %></p>
	  <p><%= session[:order]["address"] %></p>
	  <p><%= session[:order]["name"] %></p>
</div>

<div class="botton">
  <%= f.submit "購入を確定する", class:'btn btn-info' %>
</div>
<% end %>
</main>
