<div class="row">

  <h2>注文履歴詳細</h2>

 <div class="col-xs-7">
  <div class="order-show1">
  <h4>注文情報</h4>
  <table class="table-bordered">
	<tr>
		<th>注文日</th>
		<td width="300">
			<%= @order.created_at.strftime('%Y/%m/%d　%H:%M') %>
		</td>
	</tr>
	<tr>
		<th>配送先</th>
		<td width="300">
		  <%= @order.zip_code %></br>
		  <%= @order.adress %></br>
		  <%= @order.name %>
		</td>
	</tr>
	<tr>
		<th>支払方法</th>
		<td width="300">
		  <%= @order.pay_status %>
		</td>
	</tr>
	<tr>
		<th>ステータス</th>
		<td width="300">発送準備中</td>
	</tr>
  </table>
  </div>
 </div>

 <div class="col-xs-5">
  <div class="order-show2">
  <h4>請求情報</h4>

  <table class="table-bordered">
	<tr>
		<th width="100">商品合計</th>
		<td width="100">1500</td>
	</tr>
	<tr>
		<th width="100">配送料</th>
		<td width="100">800</td>
	</tr>
	<tr>
		<th width="100">ご請求金額</th>
		<td width="100">2300</td>
	</tr>
  </table>
  </div>
 </div>
</div>

<div class="order-show3">
<h4>注文内容</h4>
<table class="table-bordered">
	<tr>
		<th>商品</th>
		<th>単価（税込）</th>
		<th>個数</th>
		<th>小計</th>
	</tr>
	<tr>
		<td width="300">イチゴのショートケーキ</td>
		<td width="100">500</td>
		<td width="100">2</td>
		<td width="100">1000</td>
	</tr>
</table>
</div>