<h2>ジャンル編集画面</h2>
<h3>ジャンル</h3>
<%= form_for(@category,url:admins_category_path) do |f| %>
	<%= f.text_field :name %>
	<%= f.radio_button :status,"有効", checked: "checked" %>
	<%= f.label :有効　%>

	<%= f.radio_button :status,"無効", checked: "checked" %>
	<%= f.label :無効　%>

	<%= f.submit '変更を保存する',class:'btn btn-info' %>
	<% end %>