<style>
	.categories-table {
		width: 500px;
	}
	table {
		width: 400px;
		margin: 10px 0;
	}
</style>

<h2>ジャンル追加・一覧画面</h2>
<h3>ジャンル</h3>
<%= form_with do |f| %>
	<%= f.text_field :categories %>
	<%= f.radio_button :status,1, checked: "checked" %>
	<%= f.label :有効　%>

	<%= f.radio_button :status,0, checked: "checked" %>
	<%= f.label :無効　%>

	<%= f.submit '追加',class:'btn btn-info' %>
	<% end %>

<div class="categories-table">
	<table class="table table-bordered">
		<tr>
			<th>ジャンル</th>
			<th>状態</th>
			<th></th>
		</tr>
		<tr>
			<td>ケーキ</td>
			<td>有効</td>
			<td><%= link_to '編集する','',class:'btn btn-primary' %></td>
		</tr>
	</table>
</div>