<h2>
登録情報編集
<%= link_to "退会する",customers_customers_confirm_path,class: "btn btn-danger" %>
</h2>

<table class="table table-bordered">
	<%= form_for(@customer,url:customers_customer_path) do |f| %>
		<tr>
			<th class="edit-th">会員ID</th>
			<td><%= @customer.id %></td>
		</tr>
		<tr>
			<th class="edit-th">氏名</th>
			<td>
				<%= f.text_field :name_last %>
				<%= f.text_field :name_first %>
			</td>
		</tr>
	    <tr>
			<th class="edit-th">フリガナ</th>
			<td>
				<%= f.text_field :name_last_kana %>
				<%= f.text_field :name_first_kana %>
			</td>
		</tr>
		<tr>
			<th class="edit-th">郵便番号</th>
			<td>
				<%= f.text_field :zip_code %>
			</td>
		</tr>
		<tr>
			<th class="edit-th">住所</th>
			<td>
				<%= f.text_field :address,class: "delivery-index-form" %>
			</td>
		</tr>
		<tr>
			<th class="edit-th">電話番号</th>
			<td>
				<%= f.text_field :phone_number %>
			</td>
		</tr>
		<tr>
			<th class="edit-th">メールアドレス</th>
			<td>
				<%= f.text_field :email %>
			</td>
		</tr>
	</table>
		<%= f.submit '変更を保存',class:'btn btn-primary'%>
	    <% end %>
