<h2>マイページ</h2>
<h3>登録情報
<%= link_to "編集する",edit_customers_customer_path(@customer), class: "btn btn-info" %>
<%= link_to "パスワードを変更する", '#', class: "btn btn-info" %>
</h3>

<table class="table table-bordered">
	<tr>
		<th>氏名</th>
		<td><%= @customer.name_first %><%= @customer.name_last %></td>
	</tr>
	<tr>
		<th>カナ</th>
		<td><%= @customer.name_first_kana %><%= @customer.name_last_kana %></td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td>〒<%= @customer.zip_code %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= @customer.address %></td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td><%= @customer.phone_number %></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= @customer.email %></td>
	</tr>
</table>


<h3>配送先
<%= link_to "一覧を見る",customers_deliveries_path, class: "btn btn-info"  %>
</h3>
<h3>注文履歴
<%= link_to "一覧を見る",customers_orders_path, class: "btn btn-info" %>
</h3>

