<style>
	.customer-table {
		width: 800px;
	}
</style>

<h2>会員編集画面</h2>
<div class="customer-table">
	<table class="table table-bordered">
		<tr>
			<%= @customer.each do|f| %>
			<th>会員ID</th>
			<td>1</td>
		</tr>
		<tr>
			<th>氏名</th>
			<td><%= f.text_filed :name_first %>
				<%= f.text_filed :name_last %>
			</td>
		</tr>
		<tr>
			<th>フリガナ</th>
			<td>
			<%= f.text_filed :name_first_kana %>
			<%= f.text_filed :name_last_kana %>
			</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td><%= f.number_field :zip_code %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= f.text_filed :address %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= f.number_field :phone_number %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr>
			<th>会員ステータス</th>
			<td><%= f.radio_button :status,true, checked: "checked" %>
				<%= f.label :有効　%>
				<%= f.radio_button :status,false, checked: "checked" %>
				<%= f.label :退会済み　%>
			</td>
			<%= f.submit '変更を保存する',class:'btn btn-success' %>
			<% end %>
	</table>