<h2>会員編集画面</h2>

<table class="customer-edit">
	<%= form_with model: @customer,url:admins_customer_path do |f| %>
	<tr>
		<th class="edit-th">会員ID</th>
		<td>1</td>
	</tr>
	<tr>
		<th class="edit-th">氏名</th>
		<td>
			<%= f.text_field :name_last %>
			<%= f.text_field :name_first %>
		</td>
	</tr>
    <tr>
		<th class="edit-th">フリガナ</th>
		<td>
			<%= f.text_field :name_last_kana %>
			<%= f.text_field :name_first_kana %>
		</td>
	</tr>
	<tr>
		<th class="edit-th">郵便番号</th>
		<td>
			<%= f.text_field :zip_code %>
		</td>
	</tr>
	<tr>
		<th class="edit-th">住所</th>
		<td>
			<%= f.text_field :address %>
		</td>
	</tr>
	<tr>
		<th class="edit-th">電話番号</th>
		<td>
			<%= f.text_field :phone_number %>
		</td>
	</tr>
	<tr>
		<th class="edit-th">メールアドレス</th>
		<td>
			<%= f.text_field :email %>
		</td>
	</tr>
	<tr>
		<th class="edit-th">会員ステータス</th>
		<td>
			<%= f.label :有効 %>
			<%= f.radio_button :status,0, checked: "checked" %>
			<%= f.label :無効 %>
			<%= f.radio_button :status,1, checked: "checked" %>
		</td>
	</tr>
	
</table>
    
    <%= f.submit "変更を保存",class: "btn btn-primary" %>

    <% end %>

