<style>

	.sidebar {
		width: 100%;
		height: 100%;
		border: 2px solid;
		float: left;
	}

	.categori-head {
		border-bottom: 2px solid;
	}

	.index {
		width: 100%;
		height: 1600px;
		margin: 2px;
	}
	.product {
		width:300px;
		height:200px;
        margin: 2px;
	}
.product-contents{
	border-bottom:2px solid;
	margin-bottom:10px;
}


</style>

<div class="row">
	<div class="col-xs-4">

	  <div class="sidebar">
			<div class="categori-head">
				<h2>ジャンル検索</h2>
			</div>
			  <% @categories.each do |category| %>
			<h3>
				<%= link_to category.name, customers_products_path(category_id: category.id), category_id: category.id %>
			</h3>
			  <% end %>
	  </div>
  </div>

  <div class="col-xs-8">
	  <div class="index">
		  <h2>商品一覧(全<%= @allcount %>件)</h2>
		    <div class="product">

			    <% @products.each do |product| %>
			    <%= link_to(customers_product_path(product)) do%>
			      <%= attachment_image_tag product,:product_image %>

			      <div class="product-contents">
			      <h3><%= product.name %></br>
			      ¥<%= product.price %></h3>
			      </div>

			    <% end %>
			    <% end %>
			    <%= paginate @products %>
		    </div>
	  </div>
  </div>
</div>