<div class="row">
  <div class="col-xs-3">
    <table class="table table-bordered">
	    <tr>
		    <th>ジャンル検索</th>
	    </tr>
        <% @categories.each do |category| %>
	    <tr>
		    <td><%= category.name %></td>
        <% end %>
	    </tr>
    </table>
 </div>

  <div class="col-xs-4">
     <%= form_with model: @product,url:customers_cart_items_path,local: true do |f| %>
       <%= attachment_image_tag @product,:product_image,:fill,200,200, fallback: "no_image.jpg"%>
  </div>
  <div class="col-xs-5">
   <div class="contents">
    <p><%= @product.name %></p>
    <p><%= @product.introduction %></p>
    <p>¥<%= @product.price %></p>
    <p><%= f.select :count,[1,2,3,4,5,6,7,8,9,10] %>
　　     <%= f.submit "カートに入れる",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
