<div class="row">
  <div class="col-xs-3">
    <table class="table table-bordered">
	    <tr>
		    <th>ジャンル検索</th>
	    </tr>
        <% @categories.each do |category| %>
	    <tr>
		    <td><%= category.name %></td>
        <% end %>
	    </tr>
    </table>
 </div>

  <div class="col-xs-4">
     <%= form_with model: @product,url:customers_cart_items_path do |f| %>
       <%= attachment_image_tag @product,:product_image,:fill,200,200, fallback: "no_image.jpg" %>
  </div>
  <div class="col-xs-5">
   <div class="contents">
    <p><%= @product.name %></p>
    <p><%= @product.introduction %></p>
    <p>¥<%= @product.price %></p>
    <p>個数選択
      <select name="num">
        <option value="">-</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select> 個</p>
　　     <%= f.submit "カートに入れる",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
