<h2>商品　編集画面</h2>

<% form_for @product do |f|%>
<div class="products-show clearfix">
	<%= attachment_image_tag , :product_image, :fill, 300, 200, format: 'jpeg', class: "product-img", fallback: "/assets/cookie3-cd19a5fa42ed9fe8c98c228036aebc5436910ff68c6fd384ee5c989226c742e0.jpg"%>

  <table class="products-table">
      <tr>
        <th>商品名</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= f.text_field :introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= f.collection_select :categorise_status,Category.all, :id, :category_name  %></td>
      </tr>
      <tr>
        <th>税込価格(税抜き価格)</th>
        <td><%= f.number_field :price %></td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <td><%= f.select :status %></td>
     </tr>
  </table>
</div>

  <div class="botton">
    <%= f.submit "変更を保存", class:"btn btn-success" %>
  </div>
  <% end %>