<h2>商品画面一覧</h2>

<%= link_to 'products/new',data: {"turbolinks" => false} do %>
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
<% end %>

<table class="table table-bordered">
	<tr>
		<th>商品ID</th>
		<th>商品名</th>
		<th>税抜価格</th>
		<th>ジャンル</th>
		<th>ステータス</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.id %></td>
		<td><%= product.name %></td>
		<td><%= product.price %></td>
		<td><%= product.category %></td>
		<td><%= product.status %></td>
	</tr>
	<% end %>
</table>