<h2>商品画面一覧</h2>

<%= link_to new_admins_product_path do %>
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
<% end %>

<table class="table table-bordered">
	<tr>
		<th>商品ID</th>
		<th>商品名</th>
		<th>税抜価格</th>
		<th>ジャンル</th>
		<th>ステータス</th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.id %></td>
		<td><%= product.name %></td>
		<td><%= product.price %></td>
		<td><%= product.category.name %></td>
		    <% if product.status %>
				<td>有効</td>
			<% else %>
				<td>無効</td>
			<% end %>
	</tr>
	<% end %>
</table>