<style>
  .clearfix::after {
    content: "";
    display: block;
    clear: both;

  }
  .img-1 {
    width: 300px;
    height: 200px;
    float: left;
  }
  .products-table {
    float: left;
    margin-left: 30px;
  }

  .products-show {
    margin: 20px;
  }
  .botton {
    float: right;
  }
</style>

<h2>商品 詳細画面</h2>
<div class="products-show clearfix">
<p><%= attachment_image_tag @product, :product_image, class: "img-1" %></p>
  <table class="products-table">
      <tr>
        <th>商品名</th>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= @product.introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @product.category.name %></td>
      </tr>
      <tr>
        <th>税込価格(税抜き価格)</th>
        <td><%= (@product.price * 1.1).floor %>
          (<%= @product.price %>)円
        </td>
      </tr>
      <tr>
        <th>販売ステータス</th>
          <% if @product.status %>
            <td>有効</td>
          <% else %>
            <td>無効</td>
          <% end %>
     </tr>
  </table>
</div>

  <div class="botton">
    <%=link_to "編集する",edit_admins_product_path,class: "btn btn-success" %>
  </div>