<h2>ショッピングカート</h2>

<div class="delete-bottun">
<%=link_to "カートを空にする",'',class: "btn btn-danger",method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>

<div class="cart-table1">
<table class="table table-bordered">
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
		<th></th>
	</tr>
	<% @cart_item.each do |cart_item| %>
	<tr>
		<td width="200">
		<%= attachment_image_tag cart_item,:product_image,:fill,200,200, fallback: "no_image.jpg" %><%= cart_item.name %>
	    </td>
		<td width="80"></td>
		<td width="50">1 <button type="button" class="btn btn-info">変更</button>
		</td>
		<td width="50">1,100</td>
		<td width="50">
			<%=link_to "削除する",customers_cart_item_path(cart_item),class: "btn btn-danger",method: :delete, "data-confirm" => "本当に削除しますか？" %>
		</td>
　　　</tr>
<% end %>
</table>
</div>

<%= link_to "買い物を続ける",customers_products_path, class: "btn btn-info" %>

<div class="cart-table2">
<table class="table table-bordered">
	<tr>
		<th>合計金額</th>
		<td>1760</td>
	</tr>
</table>
</div>

<div class="go-bottun">
<%= link_to "情報入力に進む",new_customers_order_path,class: "btn btn-info" %>
</div>