<h2>注文詳細画面</h2>

<table>
	<tr>
		<th>購入者</th>
		<td><%= @order.customer.name_last %>
			<%= @order.customer.name_first %>
		</td>
	</tr>
	<tr>
		<th>配送先</th>
		<td>
		  <%= @order.zip_code %>
		  <%= @order.address %></br>
		  <%= @order.name %>
		</td>
	</tr>
	<tr>
		<th>支払方法</th>
		<td><%= @order.pay_status %></td>
	</tr>

	<%= form_with model:@order,url:admins_order_path,local: true do |f| %>
	<tr>
		<th>注文ステータス</th>
		<td>
			<%= f.select :status, Order.statuses.keys.to_a, {} %>
			<%= f.submit "更新",class: "btn btn-info" %>
	    </td>
	</tr>
	 <% end %>
</table>

<div class="admin-order-show2">
<table class="table table-bordered">
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
		<th>製作ステータス</th>
	</tr>

	<% @order.order_records.each do |order_record| %>
	<tr>
		<td><%= order_record.product.name %></td>
		<td><%= order_record.end_price * 1.1.floor %></td>
		<td><%= order_record.count %></td>
		<td><%= (order_record.end_price * 1.1.floor.to_i) * order_record.count.to_i %></td>

	  <%= form_with model:order_record,url:admins_path(order_record),local: true do |f| %>
		<td>
			<%= f.select :status, OrderRecord.statuses.keys.to_a, {} %>
			<%= f.submit "更新",class: "btn btn-info" %>
		</td>
	  <% end %>
	</tr>
	<% end %>
</table>
</div>

