<nav class="navbar navbar-inverse">
 <div class="container">

  <nav class="nav navbar-nav navbar-left">
    <%= link_to "EC_site(LOGO)",root_path %>
  </nav>

<ul class="nav navbar-nav navbar-right">
    <% if customer_signed_in? %>
    <li class="header-content">
      <%= link_to "商品一覧",customers_products_path %>
    </li>
    <li>
      <%= link_to 'カート',customers_cart_items_path(current_customer.id) %>
    </li>
    <li>
      <%= link_to customers_customer_path(current_customer) do %>
      <a><%= current_customer.name_last %>
         <%= current_customer.name_last %> さんのページ</a>
      <% end %>
    </li>
    <li>
      <%= link_to "ログアウト",destroy_customer_session_path,method: :delete %>
    </li>

    <% elsif admin_signed_in? %>
    <li>
      <%= link_to '商品一覧',admins_products_path %>
    </li>
    <li>
      <%= link_to '会員一覧',admins_customers_path %>
    </li>
    <li>
      <%= link_to '注文一覧',admins_orders_path %>
    </li>
    <li>
      <%= link_to 'ジャンル編集',admins_categories_path %>
    </li>
    <li>
      <%= link_to 'ログアウト',destroy_admin_session_path,method: :delete %>
    </li>

    <% else %>

    <li class="header-content">
      <%= link_to "商品一覧",customers_products_path %>
    </li>
    <li class="header-content">
      <%= link_to 'ログイン',new_customer_session_path %>
    </li>
    <li class="header-content">
      <%= link_to 'サインイン',new_customer_registration_path %>
    </li>
    <% end %>
</ul>
</div>
</nav>

